.bg-pokemon{
    background-color: rgba(255, 203, 5, 1);
}


.lateral-bar{
    min-height: 100vh;
    .profile{
        > .img-profile{
            > img{
                border-radius: 100%;
            }
        }
        .add-photo{
            margin-top: -50px;
            position: relative;
            left: 70%;
            height: 60px;
            font-size: 30px;
            width: 60px;
            border-radius:100%;
        }
    }
}

.logOut{
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    button{
        margin-right: 20px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-items: center;
        border: 1px solid black;
    }
    

}