<div class="backgroundVideo">
  <video autoplay muted loop id="myVideo">
    <source src="assets/videos/backgroundHome.mp4" type="video/mp4" />
  </video>
</div>
<div class="container-fluid">
  <div class="row align-items-center justify-content-md-center h-100">
    <div class="col-md-3 boxLogin p-5 rounded shadow">
      <img src="assets/img/pokemonLogo.png" width="100%" alt="" />
      <form [formGroup]="login"  autocomplete="off">
        <input
          type="email"
          id="user"
          formControlName="email"
          placeholder="Email"
       
          autocomplete="off"
        />
        <input
          type="Password"
          id=" password"
          formControlName="password"
          placeholder="Contraseña"
          
        />
        <button class="btn btn-primary" [disabled]="active " (click)="onValidatorLogin()">Ingresar</button>
      </form>
    </div>
  </div>
</div>
