<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="card col-2 m-2" *ngFor="let pokemon of data; let i = index">
          <img
            class="card-img-top"
            src="{{ pokemon.image }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ pokemon.name }}</h5>
            <p class="card-text">{{ pokemon.abilities }}</p>
            <label>
              <input type="checkbox" [value]="i + 1" (change)="onChangePokemon($event)" [checked]="show" />
              Agregar
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<button class="btn bg-pokemon fw-bold h1 border-1" (click)="open(content)">
  +
</button>
